# 0. Importing data (DO NOT ALTER)

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
data = pd.read_csv('Data/avocado.csv')

In [3]:
# Preview the data
data

,Date,AveragePrice,Total Volume,Small Hass Avocado,Large Hass Avocado,Extra Large Hass Avocado,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-01-04,1.75,27365.89,9307.34,3844.81,615.28,13598.46,13061.10,537.36,0.00,organic,2015,Southeast
1,2015-01-04,1.49,17723.17,1189.35,15628.27,0.00,905.55,905.55,0.00,0.00,organic,2015,Chicago
2,2015-01-04,1.68,2896.72,161.68,206.96,0.00,2528.08,2528.08,0.00,0.00,organic,2015,HarrisburgScranton
3,2015-01-04,1.52,54956.80,3013.04,35456.88,1561.70,14925.18,11264.80,3660.38,0.00,conventional,2015,Pittsburgh
4,2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.00,organic,2015,Boise
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,2018-03-25,1.36,908202.13,142681.06,463136.28,174975.75,127409.04,103579.41,22467.04,1362.59,conventional,2018,Chicago
18245,2018-03-25,0.70,9010588.32,3999735.71,966589.50,30130.82,4014132.29,3398569.92,546409.74,69152.63,conventional,2018,SouthCentral
18246,2018-03-25,1.42,163496.70,29253.30,5080.04,0.00,129163.36,109052.26,20111.10,0.00,organic,2018,SouthCentral
18247,2018-03-25,1.70,190257.38,29644.09,70982.10,0.00,89631.19,89424.11,207.08,0.00,organic,2018,California
18248,2018-03-25,1.34,1774776.77,63905.98,908653.71,843.45,801373.63,774634.09,23833.93,2905.61,conventional,2018,NewYork

# 1. 1-D aggregations on Pandas Series

Let's recall computing aggregations such as `sum()`, `mean()`, `median()`, `max()` and `min()` using Pandas Series.

In [4]:
# Create Pandas Series using values: [8.45, 3.15, 1.25, 10.55, 2.40]

our_series = pd.Series([8.45, 3.15, 1.25, 10.55, 2.40])

In [10]:
# TASK 1 >>>> Print computing aggregations 
print(f'The rounded count of the values is: {our_series.sum().round()}')

# Fill in the empy brackets {} (returns error if not filled)
print(f'The average value is: {}')
print(f'The median value is: {}')
print(f'The maximum value is: {}')
print(f'The minimum value is: {}')

The rounded count of the values is: 26.0
The average value is: 5.159999999999999
The median value is: 3.15
The maximum value is: 10.55
The minimum value is: 1.25

# 2. 2-D aggregations on Pandas DataFrame

To understand the true power of `groupby()` we can take a look at what is going on under the hood.  
Let's say we want to compute the average price of avocados based on their type: conventional and organic. 

Firstly, we have to split our dataset into 2 different groups based on the type:

In [11]:
# Filter only those records that are organic type and assign it to variable filter_o
filter_o = data['type'] == 'organic'

In [12]:
# Use .loc[] on data to access all columns based on our condition filter_o and assign it to the variable data_organic
data_organic = data.loc[filter_o]
data_organic

,Date,AveragePrice,Total Volume,Small Hass Avocado,Large Hass Avocado,Extra Large Hass Avocado,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-01-04,1.75,27365.89,9307.34,3844.81,615.28,13598.46,13061.10,537.36,0.0,organic,2015,Southeast
1,2015-01-04,1.49,17723.17,1189.35,15628.27,0.00,905.55,905.55,0.00,0.0,organic,2015,Chicago
2,2015-01-04,1.68,2896.72,161.68,206.96,0.00,2528.08,2528.08,0.00,0.0,organic,2015,HarrisburgScranton
4,2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.0,organic,2015,Boise
7,2015-01-04,1.50,6329.83,3730.80,2141.91,0.00,457.12,426.67,30.45,0.0,organic,2015,LasVegas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18240,2018-03-25,1.75,5518.73,171.22,806.65,3.93,4536.93,2944.89,1592.04,0.0,organic,2018,Jacksonville
18241,2018-03-25,1.42,17340.49,295.16,3478.97,81.25,13485.11,12149.49,1335.62,0.0,organic,2018,RichmondNorfolk
18243,2018-03-25,1.74,38441.23,27.25,2031.54,0.00,36382.44,29466.95,6915.49,0.0,organic,2018,Boston
18246,2018-03-25,1.42,163496.70,29253.30,5080.04,0.00,129163.36,109052.26,20111.10,0.0,organic,2018,SouthCentral
18247,2018-03-25,1.70,190257.38,29644.09,70982.10,0.00,89631.19,89424.11,207.08,0.0,organic,2018,California

See that only organic type remain.

In [13]:
# TASK 2 >>>> Filter only those records that are of type conventional and assign it to the variable filter_c

In [14]:
# TASK 2 >>>> Use .loc[] on data to access all columns based on our condition filter_c and assign it to the variable data_conventional

,Date,AveragePrice,Total Volume,Small Hass Avocado,Large Hass Avocado,Extra Large Hass Avocado,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
3,2015-01-04,1.52,54956.80,3013.04,35456.88,1561.70,14925.18,11264.80,3660.38,0.00,conventional,2015,Pittsburgh
5,2015-01-04,0.75,758118.95,426878.87,147958.43,15267.89,168013.76,165202.22,2811.54,0.00,conventional,2015,WestTexNewMexico
6,2015-01-04,0.85,2682159.95,1837999.65,524430.47,64225.78,255504.05,215571.80,36981.72,2950.53,conventional,2015,LosAngeles
8,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.00,conventional,2015,Atlanta
9,2015-01-04,0.80,317861.35,134003.07,120628.37,4591.23,58638.68,58126.59,512.09,0.00,conventional,2015,LasVegas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18239,2018-03-25,1.39,641462.43,26019.52,479186.12,1883.17,134373.62,109938.39,22955.23,1480.00,conventional,2018,Boston
18242,2018-03-25,1.32,429132.50,258217.83,25970.97,1426.07,143517.63,90870.28,52357.35,290.00,conventional,2018,Orlando
18244,2018-03-25,1.36,908202.13,142681.06,463136.28,174975.75,127409.04,103579.41,22467.04,1362.59,conventional,2018,Chicago
18245,2018-03-25,0.70,9010588.32,3999735.71,966589.50,30130.82,4014132.29,3398569.92,546409.74,69152.63,conventional,2018,SouthCentral
18248,2018-03-25,1.34,1774776.77,63905.98,908653.71,843.45,801373.63,774634.09,23833.93,2905.61,conventional,2018,NewYork

Now compute the average price for both types of avocados using the `.mean()` method applied to the column `AveragePrice`.

In [15]:
# Compute the average price for filtered organic avocados and assign it to the variable avg_organic
avg_organic = data_organic['AveragePrice'].mean()

In [16]:
# TASK 3 >>>> Compute the average price for filtered conventional avocados and assign it to the variable avg_conventional

In [17]:
# Print the outputs and the type of the outputs
print(avg_organic, avg_conventional)
print('\n')
print(type(avg_organic), type(avg_conventional))

1.6539986846432093 1.1580396668858206


<class 'numpy.float64'> <class 'numpy.float64'>

Lastly, combine these results into data structure using `Pandas`  `.DataFrame()`. Create a dictionary, where the first key name will be 'Type' and its values 'organic', 'conventional'. The second key name will be 'Average_price' and its values will be our created `avg_organic` and `avg_conventional`, respectively.

In [18]:
# Combine these results into a new DataFrame
data_output = pd.DataFrame({'Type':['organic','conventional'], 
                            'Average_price':[avg_organic, avg_conventional]})

In [19]:
# Print the resulting DataFrame
print('\nResult dataframe :\n',data_output)

Result dataframe :
            Type  Average_price
0       organic       1.653999
1  conventional       1.158040

However, we can use `groupby()` to achieve the same result with only 1 line of the code!

# 3. 2-D aggregations on Pandas DataFrame (KEY LEARNING)

 `groupby()` function allows us to quickly and efficiently split the data into separate groups to perform computations. When we pass the desired column or columns within `groupby()`, it will return _DataFrameGroupBy object_. We can think of it as a special view on our DataFrame. No computation will be done until we specify functions such as `mean()`, `sum()` etc.

In [22]:
# Group the data based on the column 'year'
data.groupby('year')

Now we compute the average price for organic and conventional avocados again but we'll make use of `groupby()`.

In [23]:
# Group the data based on Avocado type
# Compute the average price using .mean()

by_type_total = data.groupby('type')['AveragePrice'].mean()
print(by_type_total)

type
conventional    1.158040
organic         1.653999
Name: AveragePrice, dtype: float64

In [24]:
# Group the data based on columns 'type' and 'region' passed into the list and compute the average price

by_type_year = data.groupby(['type','year'])['AveragePrice'].mean()
print(by_type_year)

type          year
conventional  2015    1.077963
              2016    1.105595
              2017    1.294888
              2018    1.127886
organic       2015    1.673324
              2016    1.571684
              2017    1.735521
              2018    1.567176
Name: AveragePrice, dtype: float64

In [26]:
# TASK 4 >>>> Group the data based on columns 'type', 'year' and 'region' passed into the list
# and compute how many kg of Large Hass Avocados have been sold in total. 
# Assign the result to the variable by_year.

type          year  region
conventional  2015  Albany                  3211741.19
                    Atlanta                 1840105.14
                    BaltimoreWashington    25345911.00
                    Boise                    528537.73
                    Boston                 21314866.70
                                              ...
organic       2018  Syracuse                   1212.50
                    Tampa                      7320.94
                    TotalUS                 4325043.54
                    West                     638653.03
                    WestTexNewMexico          27301.02
Name: Large Hass Avocado, Length: 432, dtype: float64

When we are using the `.groupby()`, the resulting object will be slightly different from a standard Pandas dataframe. You can see it in the print statement and how "type" and "year" are nicely printed. 

If we would like to work with the resulting object further, we should reset its row index by using `reset_index()` and convert it into a regular dataframe.

In [27]:
# Reset the index using .reset_index() method and create a DataFrame
our_df = pd.DataFrame(by_year).reset_index()
print(our_df)

             type  year               region  Large Hass Avocado
0    conventional  2015               Albany          3211741.19
1    conventional  2015              Atlanta          1840105.14
2    conventional  2015  BaltimoreWashington         25345911.00
3    conventional  2015                Boise           528537.73
4    conventional  2015               Boston         21314866.70
..            ...   ...                  ...                 ...
427       organic  2018             Syracuse             1212.50
428       organic  2018                Tampa             7320.94
429       organic  2018              TotalUS          4325043.54
430       organic  2018                 West           638653.03
431       organic  2018     WestTexNewMexico            27301.02

[432 rows x 4 columns]

# 4. Aggregate function (ADVANCED)

![](https://keytodatascience.com/wp-content/uploads/2020/04/image-1.png)

[image source](https://keytodatascience.com/groupby-pandas-python/)

The aggregation method `agg()`.

- it is an alias for aggregate
- it is used to pass a function or list of functions to be applied on a series or even each element of a series separately

This can be done by passing the columns and functions within a dictionary like this:

`our_dataset.agg({'First_column' : ['max', 'min'], 'Second_column' : ['mean', 'median']})`

In [28]:
# Compute maximum and minimum values for column 'Total Volume' and minimum and mean values for column 'Small Bags' using .agg()
data.agg({'Total Volume' : ['max', 'min'], 'Small Bags' : ['min', 'mean']})

      Total Volume     Small Bags
max    62505646.52            NaN
mean           NaN  182194.686696
min          84.56       0.000000

We can pass `.agg()` also to our grouped object and compute statistics for selected column.

In [29]:
# Group the data based on the two columns 'region' and 'type'
# Compute aggregations 'min','max' and 'mean' for 'AveragePrice'
grouped = data.groupby(['region','type']).agg({'AveragePrice':['min','max','mean']})

In [30]:
grouped

                                 AveragePrice
                                          min   max      mean
region              type
Albany              conventional         0.85  1.80  1.348757
                    organic              1.32  2.13  1.773314
Atlanta             conventional         0.68  1.64  1.068817
                    organic              0.62  2.75  1.607101
BaltimoreWashington conventional         0.95  1.86  1.344201
...                                       ...   ...       ...
TotalUS             organic              1.00  2.09  1.546036
West                conventional         0.66  1.62  0.985089
                    organic              0.90  2.52  1.559349
WestTexNewMexico    conventional         0.52  1.22  0.842130
                    organic              1.04  2.93  1.688855

[108 rows x 3 columns]

- within `agg()` we can have our custom function along with computing aggregation

In [32]:
# Write a function to compute 95th percentile on desired column using .quantile(0.95)
def percentile_95(column):
    return column.quantile(0.95)

In [33]:
# TASK 5 - HARD >>>> Get 95th percentile and mean values for columns: 'Small Bags','Large Bags','XLarge Bags' from DataFrame data, using .agg()

                  Small Bags     Large Bags   XLarge Bags
percentile_95  768147.228000  195699.768000  12058.452000
mean           182194.686696   54338.088145   3106.426507

# 5. Bonus Task (HARD)

`groupby()` can be useful when we want to look at the proportion of avocado's type. We would like to see what percentages of conventional and organic avocados have been sold. For example: 97 % and 3%.

To reach this result:
- Group the data by 'type' and obtain sums on the 'Total Volume' column, assign result to `volume_by_type`
- Divide `volume_by_type` by the sum of all avocados. Assign the result to the variable `proportion`.
- Print the proportion and optionally multiply it by 100 to obtain a figure in percentage

In [34]:
# TASK 6.1 >>>> Group data based on their types and compute count of the Total Volume

In [35]:
# TASK 6.2 >>>> Compute the proportion of the avocado's type

In [36]:
# TASK 6.3 >>>> Print the output multiply by 100

type
conventional    97.190167
organic          2.809833
Name: Total Volume, dtype: float64

# 6. Appendix

Data Source: https://www.kaggle.com/neuromusic/avocado-prices

License: Database: Open Database, Contents: © Original Authors

Material adapted for RBI internal purposes with full permissions from original authors. Source: https://github.com/zatkopatrik/authentic-data-science